body {
	height: 100%;
	margin: 25px;
	text-align: center;
	width: 90%;
    font-size: 28px; font-family: Helvetica, 'Helvetica', sans-serif;
    color: #141414;
    background-color: #EBEBEB;
}

h5 {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: normal
}

h6 {
  font-size: 18px;
  text-align: center
}
